@media only screen and (min-width: 55em) {
    /*Weather and forecast*/
    .current-info {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .weather-container {
        padding: 20px 150px;
        height: 40vh;
    }
    .weather-container {
        height: 40vh;
    }
    .future-forecast .today .temp {
        font-size: 15px;
        padding-top: 15px;
    }

    .future-forecast .weather-forecast .weather-forecast-item {
        font-size: 13px;
    }
    .future-forecast .weather-forecast {
        display: flex;
        font-size: 15px;
    }

    /*Call to action banner*/
    .call-button:hover {
        color:#EB5E28;
        box-shadow: 0 0 15px #EB5E28;
        text-shadow: 0 0 15px #EB5E28;
    }

    /*Temple banner for homepage*/
    

    /*Reservation form*/
    .reserve-page {
        display: block;}
    form .button input:hover {
        background: linear-gradient(135deg,#CCC5B9, #EB5E28);

    }
}