@media only screen and (min-width: 40em) {
    /*Footer*/
    .footer-grid {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    
    /*Social media icons*/
    .social-media-icons {
        height: 90px;
    }
    
    .social-media-icons ul li:hover:before{
        filter: blur(3px);
        transform: scale(1.2);
        box-shadow: 0 0 15px #EB5E28;
    }
    
    .social-media-icons ul li:hover{
        color:#EB5E28;
        box-shadow: 0 0 15px #EB5E28;
        text-shadow: 0 0 15px #EB5E28;
    }
    
    .follow {
        display: block;
        text-align: left;
    }   
    
    /*Weather*/
    .weather-container > * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }
    .weather-container {
        padding: 20px;
        height: 40vh;
    }

    .future-forecast .weather-forecast {
        display: flex;
        flex-direction: row;
    }

    .future-forecast {
        align-items: none;
        justify-content: start;
        overflow-y: hidden;
    }

    .future-forecast .today .temp {
        font-size: 5vh;
    }
    .date-container #am-pm {
        font-size: 35px;
        margin-left: 10px;
    }

    .date-container .date {
        font-size: 25px;
    }

    .date-container .time{
        font-size: 50px;
    }
    .place-container {
        margin-top: 0;
    }
    .place-container .time-zone {
        font-size: 30px;
        font-weight: 100;
    }
    .place-container .country {
        font-size: 15px;
    }
    .current-info .others {
        padding: 20px;
    }
    .current-info .date-container .others .weather-item {
        font-size: 16px;
    }
    
    .future-forecast .today .temp {
        font-size: 15px;
        padding-top: 15px;
    }
    .future-forecast .today .first-card {
        margin-right: 10px;
    }
    .future-forecast .weather-forecast {
        display: flex;
        font-size: 13px;
    }

    /*Call to action banner*/
    .call-cnt {
        font-size: 1em;
    }
    .call-button {
        font-size: 20px;
    }

    /*Temple banner for homepage*/
    .temple-container {
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
    }

    .temple-card {
        margin: 50px 10px;
        box-shadow: 0px 1px 10px rgba(0,0,0,0.2);
        cursor: default;
        transition: all 400ms ease;
    }
    .temple-card:hover {
        box-shadow: 5px 5px 20px rgba(0,0,0,0.5);
        transform: translateY(-3%);
    }    


    .temple-card .temple-card-cnt p{
        font-size: 16px;
    }
    .temple-card .temple-card-cnt h2{
        font-size: 25px;
    }
    .temple-card .temple-card-cnt a:hover{
        background: #EB5E28;
        color: white;
    }


    .temple-heading {
        margin: 70px 15px -20px;
    }
}