@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Signika+Negative:wght@500&display=swap');


/* Color Palette
Primary Color: #EB5E28 (orange);
Font Color: #403D39 / #252422
Background Color: #CCC5B9 (almost white)
Auxiliary Color: #FFFCF2
*/

body > *{
    border: 5px solid black;
}
div, p {
    font-family: 'Lato', sans-serif;
}
h1, h2, h3, h4, h5 {
    font-family: 'Signika Negative', sans-serif;
}

/*Footer*/
footer{
    background: black;
    color: #CCC5B9;
    font-size: 12px;
    padding: 15px;
}
.footer-grid > *{
    padding: 5vh 0 0;
    /*border-top: 1px solid #CCC5B9;*/
}

/*Logo brand*/
.logo {
    max-width: 56%;
    max-height: 70px;
    padding: 5px 0;
    /*padding-left: 100px;*/
}

/*Navigation bar*/
nav > * {
    padding: 0;
    margin: 0;
}
nav {
    height: 80px;
    width: 100%;
    background: black;
}
nav ul {
    float: right;
    margin-right: 40px;
}
nav li {
    display: inline-block;
    margin: 0 8px;
    line-height: 80px;
}
nav a {
    color: #CCC5B9;
    font-size: 18px;
    text-transform: uppercase;
    text-decoration: none;
    list-style: none;
    border: 1px solid transparent;
    padding: 7px 10px;
    border-radius: 3px;
}

nav ul li a:hover {
    border: 1px solid #EB5E28;
    color: #EB5E28;
    transition: .5s;
}
a.active {
    border: 1px solid #CCC5B9;
    transition: .5s;
}

nav #iconBtn {
    color: #CCC5B9;
    font-size: 30px;
    line-height: 80px;
    float: right;
    margin-right: 40px;
    cursor: pointer;
    display: none;

}

@media (max-width: 1048px){
    label.logo {
        font-size: 32px;
        padding-left: 60px;
    }
    nav ul {
        margin-right: 20px;
    }
    nav ul li a {
        font-size: 17px;
    }
}

@media (max-width: 909px){
    nav #iconBtn {
        display: block;
    }
    nav ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #FFFCF2;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    nav li {
        display: block;
        margin:  50px 0;
        line-height: 30px;
    }
    nav ul li a{
        font-size: 20px;
        color: #403D39;

    }
    a.active, nav ul li a:hover {
        border: none;
        color: #EB5E28;
    }
    nav ul.show {
        left: 0;
    }
}

/*Social Icons*/
.social-media-icons ul > *{
    margin: 0;
    padding: 0;
    list-style: none;
}

.social-media-icons {
    height: 60px;
    text-align: center;
    align-items: left;
    justify-content: center;
}
.social-media-icons ul {
    display: flex;
    padding-left: 0;
}

.social-media-icons ul li{
    position: relative;
    display: block;
    color: white;
    font-size: 20px;
    height: 45px;  
    width: 45px;
    background: #403D39;
    line-height: 45px;
    border-radius: 50%;
    margin: 0 6px;
    cursor: pointer;
    transition: .5s;
}

.social-media-icons ul li a{
    text-decoration: none;
    list-style: none;
}
.social-media-icons ul li:before{
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    background: #FFFCF2;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    z-index: -1;
    transform: scale(0.9);
    transition: .5s;
}
/* visited link */
footer a:visited {
    color: white;
  }
.follow {
    display: none;
}

.social-media-icons ul li a:before{
    color: #FFFCF2;
}
